/* PC */
@media (width >= 1024px) {

}

@media (width <= 1023px) {
    .btn {
        padding: 16px 16px;
    }

    .contact-form .contact-control {
        padding: 15px;
    }
    
    .contact-info {
        line-height: 2;
    }
    
    .social-list {
        font-size: 48px;
    }

    #footer .social-list a {
        margin: 0 8px;
    }

    #footer .copyright a {
        display: inline-block;
        padding: 12px 0;
    }
}

/* TABLET */
@media (740px <= width <= 1023px) {
}

/* MOBILE */
@media (width <= 739px) {
    .s-full-width, 
    .s-col-full {
        width: 100% !important;
    }
    
    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }
    #nav li a {
        padding: 1px 24px;
    }
    
    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 44px;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 8px;
    }
}