* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng
 */

 /* common */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 10px 16px;
    border: none;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.pull-right {
    float: right !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

/* main */
#main {

}

#header {
    height: 46.5px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    display: block;
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    font-size: 15px;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav li:hover a, 
#nav > li:hover > a {
    background-color: #ccc;
    color: #000;
} 

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 8px 16px;
    line-height: 30px;

}

#nav .nav-arrow-down {
    font-size: 14px;
}
#header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 24px;
    line-height: 46.5px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    font-size: 16px;
    color: #fff;
}

#slider {
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    background: url('../img/slider/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}

#slider .text-desc {
    font-size: 15px;
    font-weight: 700;
}

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 64px 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
    padding-bottom: 25px;
}
#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.5;
}

#content .member-list {
    padding: 16px 0 32px;
}

#content .member-item {
}

#content .member-name {
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;
}

/* Tour-section */
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 36px;
    list-style: none;
}

.ticket-list li {
    color: #757575;
    font-size: 15px;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-right: 16px;
    margin-top: -3px;
}

/* place-buy-ticket */
.place-list {
    padding: 16px 0 48px;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.7;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}
.place-time {
    color: #757575;
    margin-top: 15px;
}

.place-desc {
    margin-top: 15px;
}

/* contact form */
.contact-content {
    margin: 48px 0;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i {
    width: 30px;
    display: inline-block;
}

.contact-info a {
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

/* map-section */
.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin: 15px 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 16px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.4s;
}

.modal-header {
    background-color: #009688;
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 4px;
    color: #fff;

}

.modal-header .ti-bag {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    color: #fff;
}

.modal-close:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
}

.modal-input {
    font-size: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 16px;
}

#buy-tickets {
    color: #fff;
    background-color: #009688;
    border: none;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
}

#buy-tickets:hover {
    color: #000;
    background-color: #ccc;
}

.modal-footer {
    padding: 0 16px 16px;
    text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
         transform: translateY(0);
    }
}